/*
 *
 * RateGravity Common css
 * (Meaning, for both marketing landing pages and for internal loan app)
 *
 * If you want to update styles specific to landing / marketing pages
 * update :
 * rategravity-landing.css
 *
 * If you want to update styles specific to the app update:
 * rategravity-app.css
 *
 *
 * Copyright 2015 216 Software, LLC
 * RateGravity LLC
*/

/* Body */

body {
    font-family: 'Droid Sans', sans-serif;
}


/* colors */

.error-text{
    color:#F61C09;
}

/* Site Wide */

div.well {
   font-size:16px;
}

a, button.btn.btn-link {
  color: #2eb3ff;
}

a:hover, button.btn.btn-link:hover {
  color: #1981FF;
}


a.modalLink{
  font-size: 20px;
}


textarea.form-control{
    color:#00324b;
    font-family: 'Droid Sans';
    font-size:16px;
}

/*
.list-inline span{
    color:white;
}
*/

div.info-link ul{
    font-size:20px;
}

div.info-link li{
    padding-top:5px;
    padding-bottom:5px;
}

@media(max-width:768px){
    div.info-link ul {
        font-size:14px;
    }
    div.info-link p {
        font-size:14px;
    }
}


/* Bootstrap stuff */

.btn.btn-sm{
    padding:5px 8px;
}


.btn-lg{
    font-size:20px;
    font-family: 'Droid Sans', sans-serif;
    font-weight:700;
    height:80px;
    color: #F1F2F6;
    background-color: #2eb3ff;
}


.btn-action{
    color: #00324B;
    background-color: #2eb3ff;
    border-color: #2eb3ff;
    height:80px;
}

.btn-modal{
    color: #00324B;
    background-color: #2eb3ff;
    border-color: #2eb3ff;
    height:70px;
}

.btn-action:focus, .btn-action.focus, .btn-action:hover, .btn-lg:hover {
    background-color: #1981FF;
    color: #F1F2F6;
    border-color:#74cddb;
}

/* Modal */

.bootstrap-dialog.type-primary .modal-header {
    background-color:white;
    color:#00324b;
}

.bootstrap-dialog .bootstrap-dialog-title{
    color:#00324b;
}

.bootstrap-dialog-header{
    background-color:white;
    color:#00324b;
}

.modal-content{
    padding:30px;
}

.modal-header{
    border:none;
    padding-bottom:0px;
}


select.form-control{
    font-size: 20px;
    height:60px;
    color:#00324b;
}

option{
    height:30px;
}

label{
    font-size:16px;
}

.col-xs-4 > label{
    margin-top:10px;
}

/* Forms with inputs */
label.small-label{
    margin-left: 10px;
    margin-bottom: -25px;
    margin-top: 10px;
    font-size: 14px;
    display:block;
    color:rgba(0, 50,75, .40);
}

/* Adjacent sibling selector to get
 * the text area after a small label */
label.small-label + textarea{
padding-top:30px;
padding-left:10px;
display:block;
width:100%;
}

input.small-label-input{
    position:relative;
    top:2em;
    margin-top:-2em;
}

label.small-label + input{
    height:75px;
    padding-top: 30px;
    padding-left:10px;
}

label.small-label + select{
    height:75px;
    padding-top: 30px;
}


input.form-control{
    height:60px;
    font-size: 18px;
}


a.info-link, button.info-link{
    font-size:20px;
    font-family: 'Droid Sans', sans-serif;
    font-weight:700;
    color: #2eb3ff;
    margin-bottom:20px;
    display:block;
}

button.info-link:hover {
    color: #2eb3ff;
}

h2{
    font-size:34px;
    font-family: 'Droid Sans', sans-serif;
    font-weight:700;
}

p{
    font-size:20px;
}

.row {
    margin-bottom:10px;
}

.lead{
    font-family: 'Droid Sans', sans-serif;
    font-weight:700;
}

div.radio, div.checkbox, fieldset.radio, fieldset.checkbox {
    border: 1px solid lightgrey;
    padding: 20px;
    margin-bottom:20px;
    border-radius:5px;
}

div.checkbox, fieldset.checkbox{
    border: 1px solid rgba(0, 50,75, .10);
    padding: 20px;
    margin-bottom:20px;
    border-radius:5px;
}

div.checkbox.checkbox_clicked, fieldset.checkbox.checkbox_clicked, fieldset.radio.checkbox_clicked{
    border: 1px solid rgba(0, 50,75, .40);
}

fieldset.radio
{
    min-height: 20px;
    padding-left: 20px;
}
fieldset.radio input[type='radio'], fieldset.checkbox input[type='checkbox'] {
    position: initial;
    margin-left: 0px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding:1em;
}

.table > thead > tr > th.middle, .table > tbody > tr > th.middle, .table > tfoot > tr > th.middle, .table > thead > tr > td.middle, .table > tbody > tr > td.middle, .table > tfoot > tr > td.middle
{
    vertical-align: middle;
    text-align:center;
}


.small-copy {
    font-size:13px;
}




#landing-footer{
    background-color:#2eb3ff;
    padding:15px;
    margin-top:30px;
}

.landing-thumbnail {
    height:70px;
    width:70px;
    display:block;
    margin: 0 auto;
}

.landing-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    background-color: #ffd216;
    text-align: center;
    margin: auto;
    padding-top:2px;
}


/* Button spinner
 */

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.glyphicon-refresh.spinning {
  transform-origin: 50% 58%;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Progress Selector */
.progress-indicator > li .bubble {
    margin : 0px;
    float:right;
    width:10px;
    height:10px;
    border-bottom:none;
}

.progress-indicator > li .bubble:before,
.progress-indicator > li .bubble:after {
  top:4px;
}

.progress-indicator > li.completed {
    color: #ffd216; }

.progress-indicator > li.completed .bubble {
    background-color: #ffd216;
    color: #ffd216;
    border-color: #7c6400; }
.progress-indicator > li.completed .bubble:before, .progress-indicator > li.completed .bubble:after {
    background-color: #ffd216;
    border-color: #7c6400; }

.progress-indicator.stacked.nocenter > li .bubble:after {
left: 5px; }

.progress-indicator.stacked.nocenter .stacked-text {
margin-left: 20px !important; }


