/* Display: none unless we're printing */
.show-only-print {
    display:none;
}

@media print {

    .hide-from-print {
        display: none;
    }
    .show-only-print{
        display:inline-block;
    }
    td.show-only-print{
        display:table-cell;
    }
    th.show-only-print{
        display:table-cell;
    }
}


