<div class="row">

<div class="col-md-8 col-md-offset-2">

<div data-bind="with:album">

<!-- Let's do a sub row here - title on the left, then count
     and then on right we'll put the add button so tha it always
     shows -->

<h3>Photo Album <span class="text-muted" data-bind="text:title"></span></h3>


<div data-bind="visible:$root.is_busy">
<div class="uil-squares-css" style="transform:scale(0.6);
    position: absolute;
    top: 75%;
    left: 50%;
    margin: 0px 0px 0px -50px;">

    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
    <div><div></div></div>
</div>
</div> <!-- show our loading animation when root is busy -->

<div data-bind="visible: !$root.is_busy()">

<div data-bind="if:has_photos" style="margin-bottom:30px">
<h4><span data-bind="text:photo_collection().num_photos"></span> photos</span></h4>

<a class="btn btn-primary" style="margin-top:5px"
data-bind="page-href: {path: '/albums/add-photos',
           params:{album_uuid: album_uuid()}}">
Add more photos!</a>
</div>


<div data-bind="if:no_photos">
<h4>There aren't any photos uploaded yet!</h4>

<a class="btn btn-primary"
data-bind="page-href: {path: '/albums/add-photos', params:{album_uuid: album_uuid()}}">
 Add some photos!</a>
</div> <!-- closes if:no_photos -->

<div data-bind="if:has_photos">

<p data-bind="visible:false">Photo count + sort options + filter options + search?</p>

<ul class="list-inline" data-bind="foreach: {data: photo_collection().photos,
    beforeRemove:photo_collection().hidePhoto}">
<li>
<div class="form-group" style="width:140px">
<a data-bind="click:$parent.photo_collection().showGalleryClick" href="#">
<img data-bind="attr: {src: thumbnail_url},
                click:$parent.photo_collection().showGallery"
                style="height: 140px; width:140px" class="img-thumbnail" /></a>
</div>
</li>
</ul> <!-- closes foreach photos -->


</div><!-- end if:has_photos -->

</div> <!-- closes !$root.is_busy() -->


</div> <!-- closes with:album -->

</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
