<div class="row">

<div class="col-md-8 col-md-offset-2">

<h4>Listing all albums<br />
TODO: need a paging / filter / sort / search up here</h4>

<p>For now, just list out each album name.<br />
In the future, it would be cool to have a thumbnail of each album
with details such as last uploaded photo, most recent upload by, etc.
</p>

<p>Then clicking on the album might reveal a pane or panel (underneath
or perhaps pull out to the side, or go straight to album page?

<br />
This should include photos, uploaded, etc..</p>
<ul data-bind="foreach:albums">
    <li>
    <a href="#" data-bind="text:title,
        page-href: {path: '/albums/album', params:{album_uuid: album_uuid()}}"></a>
    </li>

</ul>

</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
