<div class="row">

<div class="col-md-12">

<a data-bind="page-href:'/'"> &lsaquo;&nbsp; Back to
home </a>
</div>

</div> <!-- closes row -->

<div class="row">


<div class="col-md-8 col-md-offset-2">

<p class="lead">Here you can create an album. Give it a
title and let us know the date. Then we'll set you up with a link that
you can send to your guests so that they can start uploading photos!</p>

<div data-bind="with:new_album">

<div class="row" style="margin-bottom:15px">

  <div class="col-md-4">
    <label>Give your photo album a title</label>
  </div>

  <div class="col-md-8">

  <div class="form-group">
    <label class="small-label">Album title</label>
    <input type="text"
           class="form-control"
           data-bind="value: title" />
  </div><!-- form group -->

  </div> <!-- closes col-md-8 -->
</div> <!-- closes sub-row -->


<div class="row" data-bind="with:album_date">
  <div class="col-md-4">
    <label>When will the event take place?</label>
  </div>

  <div class="col-md-8">

  <div class="form-group" data-bind="css: {'has-error': starting_date_has_error}">
    <label class="control-label small-label">Starting date
      <span class="text-danger"
          data-bind="visible: starting_date_has_error">
      <i class="fa fa-times-circle"></i></span>
    </label>
    <input type="text"
        class="form-control"
        data-provide="datepicker"
        data-date-autoclose="true"
        data-date-today-highlight="true"
        placeholder="mm/dd/yyyy"
        data-bind="value: starting_date" />
    </div> <!-- closes form-group -->


  </div> <!-- closes col-xs-8 -->
</div> <!-- closes sub-row -->



</div> <!-- closes with:album -->

<div class="row">
  <div class="col-sm-7">
  </div>

  <div class="col-sm-5">

      <div class="pull-right" style="display:block; width:100%">
         <button class="btn btn-block btn-lg"
            data-bind="click:create_album_click,
                       html:create_button_text,
                       attr: {disabled: create_disabled},
                       css:{disabled: create_disabled}">Create album &gt;</button>
      </div>

  </div> <!-- closes col-xs-4 -->

</div> <!-- closes sub-row -->



</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->

