    <nav class="navbar navbar-default" id ="navbar" role="navigation"
         style= "border-bottom:2px solid #19478a">
        <div class="navbar-header">

             <a class="navbar-brand visible-xs" href="/">
                <span style="color:black; font-size:x-large"
                    class="visible-xs">Progress Index CLE</span>
             </a>

           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tour-search">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>
        </div>

        <div class="container hidden-print collapse navbar-collapse" id="tour-search">
            <div class="navbar-header" style="height:150px;">
                <a class="navbar-brand" href="/">
                <img src="/static/images/logo.png" class="log hidden-xs" />
                   </a>
            </div>
            <div class="navbar-right search-form">
                <ul class="nav navbar-nav navbar-left about-faq">
                <li><a data-bind="page-href: '/'" href="#"
                       style="font-size: small;padding-top:7px;">About</a>
                </li>
                <li><a data-bind="page-href: '//faq'" href="#"
                       style="font-size: small;padding-top:7px;">FAQ</a>
                </li></ul>
        </div>

        <div class="container hidden-print">
           <div class="col-md-12">
           <div class="row">
           <div class="navbar navbar-default" role="navigation"
                style="background-color:transparent;">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
           <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
          </div> <!-- closes navbar header -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse"
               id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <span data-placement="left"
                  data-original-title="Explore the Data"
                  data-content="Use the category tabs along the top to browse through the information available. <button type='button' class='btn btn-warning pull-right tour_btn' onclick='tour()'>Next</button>" id="tour_exp">
            </span>

            <li class="domain" data-bind="css: {active : active_tab() =='overview'}">
            <a href="#" data-bind="page-href : {
                path : '//overview',
                params : {location_uuid:startpagevm.location_uuid()}}"
                class="sub-nav">Overview</a>
            </li>


            <li class="domain" data-bind="css: {active : active_tab() =='progress'}">
            <a href="#" data-bind="page-href : {
                path : '//progress',
                params : {location_uuid:startpagevm.location_uuid()}}"
                class="sub-nav">Progress Metrics</a>
            </li>

            <li class="domain" data-bind="css: {active : active_tab() =='population'}">
            <a href="#" data-bind="page-href : {
                path : '//population',
                params : {location_uuid:startpagevm.location_uuid()}}"
                         class="sub-nav">Population</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='safety'}">
            <a href="#" data-bind="page-href : {
                path : '//safety',
                params : {location_uuid:startpagevm.location_uuid()}}"
                class="sub-nav">Safety</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='stabilization'}">
            <a href="#" data-bind="page-href : {
                path : '//stabilization',
                params : {location_uuid:startpagevm.location_uuid()}}"
            class="sub-nav">
            Stabilization</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='community'}">
            <a href="#" data-bind="page-href : {
                path : '//community',
                params : {location_uuid:startpagevm.location_uuid()}}"
                class="sub-nav">Community</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='health'}">
            <a href="#" data-bind="page-href : {
                path : '//health',
                params : {location_uuid:startpagevm.location_uuid()}}"
            class="sub-nav">Health</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='education'}">
            <a href="#" data-bind="page-href : {
                path : '//education',
                params : {location_uuid:startpagevm.location_uuid()}}"
                class="sub-nav">Education</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='workforce'}">
            <a href="#" data-bind="page-href : {
                path : '//workforce',
                params : {location_uuid:startpagevm.location_uuid()}}"
               class="sub-nav">Workforce</a></li>

            <li class="domain" data-bind="css: {active : active_tab() =='economy'}">
            <a href="#" data-bind="page-href : {
                path : '//economy',
                params : {location_uuid:startpagevm.location_uuid()}}"
                                   class="sub-nav">Economy</a></li>
           </ul>
        </div><!-- /.navbar-collapse -->
        </div>
        </div> <!-- closes row -->
        </div> <!-- closes col-md-12 -->
     </div> <!-- closes container hidden-print -->
</nav>

{# vim: set syntax=htmldjango: #}
