<img id="beta-icon" src="/static/images/beta-icon.png" class="hidden-print" style="z-index:1;"/>

    <nav class="navbar navbar-default" id ="navbar" role="navigation">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tour-search">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
           </button>
        </div>
        <div class="container hidden-print collapse navbar-collapse" id="tour-search">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="/static/images/pittslogo.png"
                   class="log" /></a>
            </div>
            <form class="navbar-form navbar-right search-form" role="search" action="/search/" method="get">
                <ul class="nav navbar-nav navbar-left about-faq"><li><a href="javascript:void(0)" onclick="tour();" style="color: #fff; font-size: small;padding-top:7px;" id="tour"class="ng-hide">Take A Tour</a></li></ul>
                <ul class="nav navbar-nav navbar-left"><li style="color:#fff;font-family: cursive;font-size: xx-large; font-weight: bold; top:-18px" id="tour_dot" class="ng-hide">.</li></ul>
                <ul class="nav navbar-nav navbar-left about-faq"><li><a href="/about" style="color: #fff; font-size: small;padding-top:7px;">About</a></li></ul>
                <ul class="nav navbar-nav navbar-left"><li style="color:#fff;font-family: cursive;font-size: xx-large; font-weight: bold; top:-18px">.</li></ul>
                <ul class="nav navbar-nav navbar-left about-faq"><li><a href="/about/FAQ" style="color:#fff; font-size: small;padding-top:7px;">FAQ</a></li></ul>
                <div class="form-group">
<span id="tour_search" data-original-title="Search" data-content="Having trouble finding the data you're looking for? Try using the search bar. <button type='button' class='btn btn-warning pull-right tour_btn' onclick='tour()'>Next</button>" data-placement="bottom"></span>
                    <input name="q" type="text" class="form-control" placeholder="Find an Indicator">
                    <input name="rid" type="hidden" value="">
                </div>
                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
        <div class="col-md-12" style="height: 40px">
        </div>
    </nav>

{# vim: set syntax=htmldjango: #}
