{% extends 'profiles/base-admin.html' %}

{% block title %}Upload New Data File{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{% endblock styles %}

{% block main %}

<div class="row" style="margin-bottom:50px">
<div class="col-md-8 col-md-offset-2">

<h1>New Data Upload</h1>
<p>Explanation of how new data upload works</p>

<!--

<div class = "col-md-6 col-md-offset-3">
<div class="form-group">
    <label>Please input data upload password</label>
    <input class="form-control" type="password" />
</div>


<button class="btn btn-block btn-default">Enter</button>
</div>
</div>
-->

<!-- this is status -->
<h2>Please upload a file to begin.</h2>
<p class="help-text">The file should be a zip file and contain all data
files</p>

<div class="form-group">
<label for="uploadDataFile">Data zip file</label>
    <input class="form-control" type="file"
           id="uploadDataFile"
           data-bind="event:{change:start_ajax_upload}"
           accept="zip/application,.zip"
           />

</div>

<div class="alert alert-info" data-bind="visible:is_uploading">
Uploading data file progress:
<span class="pull-right" data-bind="text: upload_progress"></span>
</div>


<div class="form-group">

</div>

<div data-bind="visible:job_started">
<hr />

<h3>Data load started:</h3>
<p class="help" data-bind="text:job_message_log">
Job log...</p>

</div>
</div> <!-- closes col-md-12 -->
</div> <!-- closes row -->



{% endblock main %}



{% block scripts %}
<!-- our scripts -->


<script type="text/javascript">

var pvm;

$(document).ready(function () {

    adlvm = new AdminDataLoadViewModel({});

    ko.applyBindings(adlvm);


});

function AdminDataLoadViewModel(data){

    var self = this;
    self.type = "AdminDataLoadViewModel";

    self.rootvm = self;
	self.is_busy = ko.observable(false);

    self.upload_progress = ko.observable();
    self.is_uploading = ko.observable(false);
    self.local_source = ko.observable();
    self.error = ko.observable();

    // Ok, after we've uploaded, save the zip uuid
    self.zip_file_uuid = ko.observable();
    self.job_uuid= ko.observable();

    self.job_started = ko.observable(false);
    self.job_complete = ko.observable(false);
    self.job_message_log = ko.observable();

    self.check_job_interval = null;


    self.start_ajax_upload = function(me, evt){
        console.log('starting ajax upload');
        self.files = evt.target.files;

        for(var i = 0; i < evt.target.files.length; i++)
        {
            self.file(evt.target.files[i]);
            self.read_local_source();
            self.upload_file();
        }

    };

    self.xhr_with_progress = function() {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress",
            function(evt) {
                if (!evt.lengthComputable) return;
                var percentComplete = (evt.loaded / evt.total) * 100;
                self.upload_progress(Math.round(percentComplete) + '%');
            }, false);
        return xhr;
    };
    self.file = ko.observable(null);

    self.read_local_source = function(){
        // TODO We might not want to do this if the
        // file is too large...
        var fr = new FileReader();
        //First read as data url
        fr.onload = function (file_data) {
            //Make thumbnail show up
            self.local_source(file_data.target.result);
        }
        fr.readAsDataURL(self.file());
    };

    self.upload_file = function () {

        self.is_uploading(true);

        return $.ajax({
            xhr: self.xhr_with_progress,

            url: '/api/admin/data-file',
            type: 'PUT',
            data: self.file(),
            cache: false,
            contentType: false,
            processData: false,

            success: function (data) {

                self.is_uploading(false);
                if(data.success){
                    console.log('file uploaded!')
                    self.zip_file_uuid(data.zip_file_uuid);
                    self.job_uuid(data.job_uuid);
                    self.job_started(true);

                    self.check_job_interval = setInterval(self.lookup_job_progress, 1000)

                }
                else{
                }
            },

            error: function (data) {
                self.error(data.statusText);
            }
        });

    };

    self.lookup_job_progress = function(){

        return $.ajax({
            url: "/api/admin-job-status",
            type: "GET",
            dataType: "json",
            data:{ job_uuid: self.job_uuid()},
            complete: function () {

            },
            success: function (data) {
                if (data.success) {
                    self.job_message_log(data.job_log);
                    self.job_complete(data.job_complete);

                    if(self.job_complete()){
                        clearInterval(self.check_job_interval);
                    }
                }
                else {
                    toastr.error(data.message);
                    clearInterval(self.check_job_interval);
                }
            },

        });

    }


}


</script>

{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
