{% extends 'profiles/base-admin.html' %}

{% block title %}Upload New Data File{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{% endblock styles %}

{% block main %}

<div class="row" style="margin-bottom:50px">

<div class="col-md-4" style="position:sticky; top:25px">
<h4>Progress</h4>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60"
   aria-valuemin="0" aria-valuemax="100"
    data-bind="style: {width: percent_complete() + '%'}, text: Math.round(percent_complete()) + '%'">
  </div>
</div><p class="smaller"><span data-bind="text:files_processed"></span>
files processed / <span data-bind="text:total_files"></span> total files
</p>

<h4>Status</h4>

<div>

<div class="row">
<div class="col-xs-4">In Progress:</div>
<div class="col-xs-2">
<span class="badge"  data-bind="style:{ backgroundColor: job_started() ?
'yellow':'grey'}" style="background-color: grey;">P</span>
</div>
</div>


<div class="row">
<div class="col-xs-4">Complete:</div>
<div class="col-xs-2">
<span class="badge"  data-bind="style:{ backgroundColor: job_complete() ?
'green':'grey'}" style="background-color: grey;">C</span>
</div>
</div>


<div class="row">
<div class="col-xs-4">Error:</div>
<div class="col-xs-2">
<span class="badge"  data-bind="style:{ backgroundColor: job_error() ?
'red':'grey'}" style="background-color: grey;">E</span>
</div>
</div>


</div>
</div>
<div class="col-md-8">

<h1>Add/Update Data</h1>
<p>Use this page to update the data on our profiles site. You can upload
a single zip file that contains multiple data files. The zip file will
be unzipped and each data file will be loaded individually. There should
also be a control file <strong>Dashboard</strong> that contains
descriptions for the indicators. If descriptions have changed or need to
be udpated, we'll read them from this file.</p>

<p>Begin your upload now. If a job is long running, you can come back
and check the progress of the job.</p>

<!--

<div class = "col-md-6 col-md-offset-3">
<div class="form-group">
    <label>Please input data upload password</label>
    <input class="form-control" type="password" />
</div>


<button class="btn btn-block btn-default">Enter</button>
</div>
</div>
-->

<!-- this is status -->
<h3>Please upload a file to begin.</h3>
<p class="help-text">The file should be a zip file and contain all data
files</p>

<div class="form-group">
<label for="uploadDataFile">Data zip file</label>
    <input class="form-control" type="file"
           id="uploadDataFile"
           data-bind="event:{change:start_ajax_upload}"
           accept="zip/application,.zip"
           />

</div>

<div class="alert alert-info" data-bind="visible:is_uploading">
Uploading data file progress:
<span class="pull-right" data-bind="text: upload_progress"></span>
</div>


<div class="form-group">

</div>

<div data-bind="visible:job_started() || job_complete()">
<hr />

<h3>Data load started:</h3>
<p class="help" data-bind="html:job_message_log">
Job log...</p>

</div>
</div> <!-- closes col-md-12 -->
</div> <!-- closes row -->



{% endblock main %}



{% block scripts %}
<!-- our scripts -->


<script type="text/javascript">

var pvm;

$(document).ready(function () {

    adlvm = new AdminDataLoadViewModel({});

    {% if job_uuid %}
    adlvm.job_uuid('{{job_uuid}}');
    adlvm.job_started(true);
    adlvm.check_job_interval = setInterval(adlvm.lookup_job_progress, 1000)
    {% endif %}

    ko.applyBindings(adlvm);


});

function AdminDataLoadViewModel(data){

    var self = this;
    self.type = "AdminDataLoadViewModel";

    self.rootvm = self;
	self.is_busy = ko.observable(false);

    self.upload_progress = ko.observable();
    self.is_uploading = ko.observable(false);
    self.local_source = ko.observable();
    self.error = ko.observable();

    // Ok, after we've uploaded, save the zip uuid
    self.zip_file_uuid = ko.observable();
    self.job_uuid= ko.observable();

    self.job_started = ko.observable(false);
    self.job_complete = ko.observable(false);
    self.job_error = ko.observable(false);
    self.job_message_log = ko.observable();
    self.total_files = ko.observable(0);
    self.files_processed = ko.observable(0);

    self.percent_complete = ko.pureComputed(function(){

        if(self.total_files() > 0){
            return (self.files_processed() / self.total_files()) * 100;
        }
        else{
            return 0;
        }

    });

    self.check_job_interval = null;


    self.start_ajax_upload = function(me, evt){
        console.log('starting ajax upload');
        self.files = evt.target.files;

        for(var i = 0; i < evt.target.files.length; i++)
        {
            self.file(evt.target.files[i]);
            self.read_local_source();
            self.upload_file();
        }

    };

    self.xhr_with_progress = function() {
        var xhr = new window.XMLHttpRequest();
        xhr.upload.addEventListener("progress",
            function(evt) {
                if (!evt.lengthComputable) return;
                var percentComplete = (evt.loaded / evt.total) * 100;
                self.upload_progress(Math.round(percentComplete) + '%');
            }, false);
        return xhr;
    };
    self.file = ko.observable(null);

    self.read_local_source = function(){
        // TODO We might not want to do this if the
        // file is too large...
        var fr = new FileReader();
        //First read as data url
        fr.onload = function (file_data) {
            //Make thumbnail show up
            self.local_source(file_data.target.result);
        }
        fr.readAsDataURL(self.file());
    };

    self.upload_file = function () {

        self.is_uploading(true);

        return $.ajax({
            xhr: self.xhr_with_progress,

            url: '{{cw.web_host}}' + '/admin/data-file',
            type: 'PUT',
            data: self.file(),
            cache: false,
            contentType: false,
            processData: false,

            success: function (data) {

                self.is_uploading(false);
                if(data.success){
                    console.log('file uploaded!')
                    self.zip_file_uuid(data.zip_file_uuid);
                    self.job_uuid(data.job_uuid);
                    self.job_started(true);

                    self.check_job_interval = setInterval(self.lookup_job_progress, 1000)

                }
                else{
                }
            },

            error: function (data) {
                self.error(data.statusText);
            }
        });

    };

    self.lookup_job_progress = function(){

        return $.ajax({
            url: "/api/admin-job-status",
            type: "GET",
            dataType: "json",
            data:{ job_uuid: self.job_uuid()},
            complete: function () {

            },
            success: function (data) {
                if (data.success) {
                    self.job_message_log(data.job_log);
                    self.job_complete(data.job_complete);
                    self.total_files(data.total_files_to_process);
                    self.files_processed(data.files_processed);

                    if(self.job_complete()){
                        clearInterval(self.check_job_interval);
                        self.job_started(false);
                    }

                }
                else {
                    toastr.error(data.message);
                    self.job_error(true);
                    self.job_complete(false);
                    self.job_started(false);
                    clearInterval(self.check_job_interval);
                }
            },

        });

    }


}


</script>

{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
