{% extends 'profiles/base.html' %}

{% block title %}Profiles{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{% endblock styles %}

{% block main %}

<div data-bind="page: {
    id: 'start',
    source: '/static/templates/startpage.html',
    with: startpagevm,
    afterShow: startpagevm.initialize,
    sourceLoaded: startpagevm.sourceLoaded}">
</div>


{% endblock main %}



{% block scripts %}

<script type="text/javascript" src="/static/viewmodels/daterange.js"></script>
<script type="text/javascript" src="/static/viewmodels/webappsession.js"></script>
<script type="text/javascript" src="/static/viewmodels/location.js"></script>
<script type="text/javascript" src="/static/viewmodels/indicator.js"></script>
<script type="text/javascript" src="/static/viewmodels/indicatorcategory.js"></script>

<script type="text/javascript" src="/static/viewmodels/profilesviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/startpageviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/populationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/stabilizationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/economyviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/workforceviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/educationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/healthviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/safetyviewmodel.js"></script>


<script type="text/javascript">

var kpvm;

$(document).ready(function () {

    pvm = new ProfilesViewModel({});

    pager.extendWithPage(pvm);
    ko.applyBindings(pvm);
    pager.start();
});



</script>

{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
