{% extends 'profiles/base.html' %}

{% block title %}Profiles{% endblock %}

{% block styles %}
<style type="text/css">

</style>
{% endblock styles %}

{% block main %}

<div data-bind="page: {
    id: 'start',
    source: '/static/templates/startpage.html',
    with: startpagevm,
    afterShow: startpagevm.initialize,
    sourceLoaded: startpagevm.sourceLoaded,
    }
">
</div>


<div data-bind="page: {
    id: 'about',
    source: '/static/templates/about.html',
    }
"></div>

<div data-bind="page: {
    id: 'indicator-chart',
    source: '/static/templates/indicatorbyracecomparison.html',
    with: indicatorcomparisonbyracevm,
    afterShow: indicatorcomparisonbyracevm.initialize,
    params: ['indicator_uuid'],
    }
"></div>



<div data-bind="page: {
    id: 'indicator-table',
    source: '/static/templates/indicatorcomparison-table.html',
    with: indicatorcomparisonvm,
    afterShow: indicatorcomparisonvm.initialize,
    params: ['indicator_uuid'],
    }
"></div>

<div data-bind="page: {
    id: 'indicator-map',
    source: '/static/templates/indicatorcomparison-map.html',
    with: indicatorcomparisonvm,
    afterShow: indicatorcomparisonvm.initialize,
    sourceLoaded: indicatorcomparisonvm.sourceLoaded,
    params: ['indicator_uuid'],
    }
">


</div>




{% endblock main %}



{% block scripts %}
<!-- google chart script -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- our scripts -->
<script type="text/javascript" src="/static/viewmodels/daterange.js"></script>
<script type="text/javascript" src="/static/viewmodels/webappsession.js"></script>
<script type="text/javascript" src="/static/viewmodels/location.js"></script>
<script type="text/javascript" src="/static/viewmodels/indicator.js"></script>
<script type="text/javascript" src="/static/viewmodels/indicatorcategory.js"></script>

<script type="text/javascript" src="/static/viewmodels/profilesviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/startpageviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/faqviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/populationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/stabilizationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/economyviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/workforceviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/educationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/healthviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/safetyviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/populationviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/progressmetricsviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/overviewviewmodel.js"></script>
<script type="text/javascript" src="/static/viewmodels/communityviewmodel.js"></script>

<script type="text/javascript" src="/static/viewmodels/indicatorcomparisonviewmodel.js"></script>

<script type="text/javascript"
    src="/static/viewmodels/indicatorcomparisonbyraceviewmodel.js"></script>

<script type="text/javascript">

var pvm;

$(document).ready(function () {

    pvm = new ProfilesViewModel({});

    pager.extendWithPage(pvm);
    ko.applyBindings(pvm);
    pager.start();

    /* Initialize Pop overs */
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
    });

    $(".select2-me").select2();

});

$(window).load(function() {
    // We want to hide feedback widget when printing
    $('#webklipper-publisher-widget-container').addClass('hide-from-print');

});

</script>

{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
