{% extends 'profiles/base.html' %}

{% block title %}Reset password{% endblock %}

{% block main %}

<form class="form" data-bind="with: webapp_session().user">

<div class="form-group">

<label>
Enter new password
</label>

<span class="pull-right"
    data-bind="css: password_css, text: password_quality_label"></span>

<input class="form-control" id="first_password"
    type="password" data-bind="textInput: new_password1" />

<label>Confirm</label>
<input class="form-control" type="password" data-bind="value: new_password2" />

</div>

<p>
<button data-bind="click: reset_password" class="btn btn-primary">Reset password</button>
</p>

<pre class="small" data-bind="text: rootvm.payload"></pre>

</form>

{% endblock main %}

{# vim: set syntax=htmldjango: #}
