
<div class="row" style="margin-bottom:15px">

<div class="col-md-9 col-md-offset-1">
<h1>National Neighborhood Indicators Partnership</h1>

<p>[Intro text describing purpose and process to be supplied by
Neighborhood Progress]</p>

<h3>Contact Us</h3>
<p>Please contact us for training information,
technical assistance or general inquiries:</p>
<address>
<strong>Email</strong> [email here]<br />
<strong>Phone</strong> [phone here]<br />
<strong>Twitter</strong> [twitter here]<br />
</address>


<h3>Data Sources</h3>
<p><strong>U.S. Census:</strong> According to the U.S. Constitution, the Census Bureau is
mandated to collect population data every 10 years. This census includes
detailed data on age, sex, households, families, race, and more.
</p>

<p>Source:
<br />
<a href="http://www.census.gov/" target="_blank">http://www.census.gov/</a>
</p>

<p>
<a data-bind="visible:pager.activePage$().id() == 'about',
              page-href:'data-sources'">[see more data sources]</a>
</p>

<div data-bind="page: { id: 'data-sources' }">

<p>
<a data-bind="page-href:'/about'">[see less]</a>
</p>

<p><strong>American Community Survey (ACS):</strong> The ACS is an ongoing survey that
samples a small percentage of the population on questions regarding
family and relationships, income, health insurance, education,
employment, and disabilities. The ACS is available for 3 different time
periods which are to be selected carefully based on precision and
population: 1-year (12 months of collected data) - the smallest sample
size, which is less reliable than 3-year or 5-year samples, but contains
the most current data.
Contains data for areas with populations of
65,000+; 3-year (36 months of collected data) - larger sample size than
1-year data and is more reliable than 1-year, but less reliable than
5-year data. Contains data for areas with populations of 20,000+; *
5-year (60 months of collected data) - the largest sample size and the
most reliable data, but the least current. Contains data for all areas
(including tract and block group). At the neighborhood and CDC service
area geographic levels, the 5-year ACS estimates are used.
</p>

<p>Whenever the ACS is used as the data source for an indicator, the Margin
of Error and Coefficient of Variation are also calculated to aid in
understanding the reliability of the estimates.</p>

<p><strong>Margin of Error (MOE):</strong> The MOE, reported along with an estimate, means
that one can be 90 percent confident that the true value is the
estimated value, plus or minus the MOE. More information here.</p>

<p><strong>Coefficient of Variation (CV):</strong> a measure of reliability of the ACS
estimate. The Census provides the following guidelines for determining
the reliability of the estimate:</p>
</div> <!-- closes page: {id : 'moe-cv', role:'start'}"> -->


<p>
Coefficient of Variance &lt;15&#37; - Good<br />
Coefficient of Variance &gt;15&#37; and &lt; 61&#37; - Fair<br />
Coefficient of Variance &gt;&#61; 61&#37; - Poor<br />
</p>

<p>Source:
<br /><a target="_blank" href="https://www.census.gov/programs-surveys/acs/">
https://www.census.gov/programs-surveys/acs/</a>
</p>

<p>
<strong>Longitudinal Employer-Household Dynamics (LEHD):</strong>
The LEHD program is
part of the Center for Economic Studies at the U.S. Census Bureau. The
LEHD program produces new, cost effective, public-use information
combining federal, state and Census Bureau data on employers and
employees under the Local Employment Dynamics (LED) Partnership.</p>

<p>Source:<br />
<a target="_blank" href="http://lehd.ces.census.gov/">http://lehd.ces.census.gov/</a></p>

<p>
<strong>Cuyahoga County Fiscal Office</strong>
- ADD DESCRIPTION</p>

<p>
<strong>Cuyahoga County Clerk of Courts</strong>
- ADD DESCRIPTION</p>

<p>
<strong>Cuyahoga County Sheriff's Department</strong>
- ADD DESCRIPTION</p>

<p>
<strong>City of Cleveland Police Department</strong>
- ADD DESCRIPTION</p>

<p>
<strong>United States Postal Service</strong>
- ADD DESCRIPTION</p>

<p>
<strong>Ohio Department of Health Vital Statistics Divisions</strong>
- ADD DESCRIPTION</p>

<p>
<strong>Cleveland Metropolitan School District</strong>
- ADD DESCRIPTION</p>

</div> <!-- closes page: { id: 'data-sources' } -->

<h3>About Us</h3>
<p>[About Neighborhood Profiles goes here]
</p>


</div><!-- closes col-md-9 -->

</div> <!-- closes row -->
