
<h2>Economy Metrics</h2>

<p class="lead">
Neighborhoods with strong economies have thriving business districts,
accessible jobs, and other opportunities for residents to participate in
and contribute to the local economy. Here, we help users assess the
local economy by measuring commercial trends and employment availability
via jobs in the neighborhood.
</p>


<div data-bind="with:parentvm.selected_location()">

<h4>Now viewing data for <span data-bind="text:title"></span></h4>
<h5>Note: clicking the <span class="label label-primary">Map</span>
button will allow for a cross-location (city-wide)
comparison of a given indicator.</h5>

<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/economy-' + print_friendly_name + '.pdf'}">Download as PDF</a>
|
<a href="#"
    data-bind="click:function(event){
    rootvm.exportTableToCSV(event, ['economyTable', 'commercialTable'], 'economy - ' + print_friendly_name + '.csv');   return true;}">
    Downlad as CSV</a>
</p>

</div>

<table class="table table-striped table-bordered" id="economyTable">
<thead>
<tr>
<th>Indicator</th>
<th style="text-align:right">% change</th>
<!-- ko foreach:observable_timestamps -->
    <th class="data" data-bind="text:$data.format('YYYY')"></th>
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td style="text-align:right" data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody>

</table>

<table class="table table-striped table-bordered" id="commercialTable">
<thead>
<tr><th>Commercial Rental Data</th></tr>
<tr>
<th>Indicator</th>
<th class="data">% change</th>
<!-- ko foreach:observable_timestamps -->
    <th class="data" data-bind="text:$data.format('YYYY')"></th>
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:commercial_indicators -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps_commercial -->
<td class="data"><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>

<span data-bind="if:$parent.indicator_CV"><span data-bind="if:
$parent.indicator_CV().indicator_value_by_year($data.year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' : $parent.pretty_CV_and_MOE($data.year())}">
        +/-</button>

</span></span>
</td>

<!-- ko if:$parent.indicator_CV -->
<!-- ko if:$parent.indicator_CV().indicator_value_by_year($data.year()).formatted -->
<td class="show-only-print data" data-bind="if:$parent.indicator_CV">
<span class="show-only-print"
     data-bind="text: $parent.indicator_CV().indicator_value_by_year($data.year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:$parent.indicator_MOE">
<span class="show-only-print"
     data-bind="text:$parent.indicator_MOE().indicator_value_by_year($data.year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->



<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody><table>





<div class="show-only-print">

<p class="small">
Sources: Longitudinal Employer-Household Dynamics, HUD / USPS
</p>
</div><!-- closes show-only-print -->



