
<h2>Economy Metrics</h2>

<div data-bind="with:parentvm.selected_location()">

<h4>Now viewing data for <span data-bind="text:title"></span></h4>

<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/economy-' + print_friendly_name + '.pdf'}">Download as PDF</a>
</p>

</div>

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Indicator</th>
<th style="text-align:right">% change</th>
<!-- ko foreach:observable_timestamps -->
    <th class="data" data-bind="text:$data.format('YYYY')"></th>
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td style="text-align:right"><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody>

</table>

<div class="show-only-print">

<p class="small">
Sources: Longitudinal Employer-Household Dynamics, United States Postal
Service vacancy data.
</p>
</div><!-- closes show-only-print -->



