
<h2>Education Metrics</h2>

<div data-bind="with:parentvm.selected_location()">

<h4> Now viewing data for <span data-bind="text:title"></h4>

</div>

<table class="table table-striped">
<thead>
<tr>
<th>Indicator</th>
<th>% change</th>
<!-- ko foreach:observable_timestamps -->
    <th> <span data-bind="text:$data.format('YYYY')"></span>-<span data-bind="text:$data.year() + 1"></span> school year</th>
<!-- /ko -->
</tr>
<tr><th>Children profecient in reading</th></tr>
</thead>
<tbody>
<!-- ko foreach:reading_indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:description"></span>
</td>
<td data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->


<!-- Do math Indicators Here -->
<tr><th>Children profecient in math</th>
<th>% change</th>
<!-- ko foreach:observable_timestamps -->
<th> <span data-bind="text:$data.format('YYYY')"></span>-<span data-bind="text:$data.year() + 1"></span></th>
<!-- /ko -->
</tr>


<!-- ko foreach:math_indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:description"></span>
</td>
<td data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
<!-- Do Kindergarten Readiness here -->

<tr><th>Kindergarten Readiness Assessment Level (KRA-L)</th>
<th>% change</th>
<!-- ko foreach:observable_timestamps -->
<th> <span data-bind="text:$data.format('YYYY')"></span>-<span data-bind="text:$data.year() + 1"></span></th>
<!-- /ko -->
</tr>


<!-- ko foreach:kindergarten_readiness_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:description"></span>
</td>
<td data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->

<!-- Do Other Indicators here -->

<tr><th>Other Indicators</th>
<th>% change</th>
<!-- ko foreach:observable_timestamps -->
<th> <span data-bind="text:$data.format('YYYY')"></span>-<span data-bind="text:$data.year() + 1"></span></th>
<!-- /ko -->
</tr>

<!-- ko foreach:other_indicators -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:description"></span>
</td>
<td data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody>

</table>


<p class="small">
Source: Cleveland Metropolitan School District. Data not available for Cuyahoga County.<br />
Note on KRAL Bands:
<ul class="small">
<li>Band 1 - indicates children need immediate interventions in language &amp; literacy skills, and possibly health (oral, vision, and/or medical)</li>
<li>Band 2 - indicates a need to watch children who may be scoring at the lower end and to assess for targeted instruction</li>
<li>Band 3 - indicates that children should do well with reading instruction and may need to be assessed for enrichment programs</li>
</ul>
</p>

<p class="small">
Note: If data not available, it might be suppressed.  Number and rate are not reported when the number of students who took the test is less than 10.<br />
Note: The attendance rate is the average percentage of students attending school each day in the given year.<br />

* Note: pre-school slots vary due to the opening and closing of schools, as well as changes in their quality ratings
</p>

