<h2>Health Metrics</h2>

<p class="lead">
Our environment directly impacts our health outcomes—from the air we
breathe to the quality of the home we live in. Here, we seek to
understand those health outcomes by looking at several factors:
mortality, life expectancy, and elevated blood lead levels.
</p>

<div data-bind="with:parentvm.selected_location()">

<h4>Now viewing data for <span data-bind="text:title"></h4>
<h5>Note: clicking the <span class="label label-primary">Map</span>
button will allow for a cross-location (city-wide)
comparison of a given indicator. <br />The cross-location information is
available in a table as well.</h5>


<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/health-' + print_friendly_name + '.pdf'}">Download as PDF</a>
|
<a href="#"
    data-bind="click:function(event){
    rootvm.exportTableToCSV(event, ['healthTable'], 'health - ' + print_friendly_name + '.csv');   return true;}">
Downlad as CSV</a>


</p>

</div>

<table class="table table-striped table-bordered" id="healthTable">
<thead>
<tr>
<th>Indicator</th>
<th class="data">Average (2009-2013)</th>
</tr>
</thead>
<tbody>
<!-- ko foreach:ind_twonine-->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:average_indicator_value"></td>

</tr>

<!-- /ko -->

<!-- /ko -->

<tr>
<td></td>
<td style="text-align:center"><strong>Average (2010-2014)</strong></th>
</tr>
<!-- ko foreach:ind_twoten -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:average_indicator_value"></td>
</tr>

<!-- /ko -->

<!-- /ko -->

</tbody>

</table>


<div class="show-only-print">
    <div class="small">
    <p>
    Sources:  Life Expectancy Calculator by Daniel Eayres, Ohio
    Department of Health and U.S. Census Bureau.
    </p>

   </div> <!-- closes class small -->


</div> <!-- closes show-only-print -->
