<div class="row">

<div class="col-md-3">
<p style="font-size:18px">Viewing comparison data for
<span class="strong" data-bind="text:selected_indicator().pretty_label"></span>
</p>
</div> <!-- closes col-md-9 -->

<div class="col-md-9">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Table</a></li>
  <li role="presentation">
  <a href="#" data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: selected_indicator().indicator_uuid}}">Map</a></li>

</ul>
</div> <!-- closes col-md-9 -->

</div> <!-- closes row -->

<div class="row">

<div class="col-md-3">


<div class="well hide-from-print">
<h3>Filter options</h3>



<div class="form-group">
    <label>
    Location type
    </label>
    <select class="form-control" data-bind="options: location_types,
                                 optionsCaption: 'all',
                                 value:selected_location_type"></select>
</div> <!-- closes form-group -->


<div class="form-group">
    <label>
    Search
    </label>
    <input class="form-control" data-bind="textInput:location_search" />
</div> <!-- closes form-group -->

</div> <!-- closes div well -->

</div> <!-- closes col-md-3 -->

<div class="col-md-9">

<div class="row"> <!-- sub row -->

<div class="col-md-8">
<p>
Click on the table headings to sort. Use the filter selector
to filter by location type, or to search for a specific location.
</p>

<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/Indicator-Values-' + selected_indicator().title() + '.pdf'}">Download as PDF</a>
|
<a href="#"
    data-bind="click:function(event){
    rootvm.exportTableToCSV(event, ['indicatorComparisonTable'],
'comparison - ' + selected_indicator().title() + '.csv');   return true;}">
    Downlad as CSV</a>
</p>


</p>



</div> <!-- closes col-md-8 -->

</div> <!-- closes sub-row -->

<table class="table table-striped table-bordered"
    id="indicatorComparisonTable">
<thead>

<tr>
<th style="cursor:pointer" data-bind="click:location_click_sort">
   <span data-bind="visible:asc() && sort_column() == 'location'"
         class="glyphicon glyphicon-chevron-up"></span>
   <span data-bind="visible:!asc() && sort_column() == 'location'"
         class="glyphicon glyphicon-chevron-down"></span>
   Location (type)
</th>
<!-- ko foreach:observable_timestamp_options -->
  <th style="text-align:right; cursor:pointer"> <span data-bind="text:$data.text,
    click:$parent.year_click_sort"></span>

   <span data-bind="visible:$parent.asc() && $parent.sort_column() == $data.value"
         class="glyphicon glyphicon-chevron-up"></span>

   <span data-bind="visible:!$parent.asc() && $parent.sort_column() == $data.value"
         class="glyphicon glyphicon-chevron-down"></span>
  </th>
<!-- /ko -->

</tr>
</thead>

<tbody>
<!-- ko foreach: location_search_filtered -->
<tr>
<td> <span data-bind="text:title"></span> (<span
data-bind="text:short_location_type"></span>)</td>
<!-- ko foreach:$parent.observable_timestamps -->
<td style="text-align:right">
<span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span></td>
<!-- /ko -->


</tr>

<!-- /ko -->

</tbody>

</table>


</div> <!-- closes col-md-9 -->



</div> <!-- closes row -->
