<div class="row">

<div class="col-md-3">

<p data-bind="if: indicator" style="font-size:18px">Viewing comparison data for
<span class="strong"
    data-bind="text: indicator().pretty_label"></span>
</p>

<div class="form-group">

    <label>
    Choose a year
    </label>

    <select class="form-control"
        data-bind="options: available_observation_timestamps,
            value: selected_observation_timestamp,
            optionsValue: 'observation_timestamp_label',
            optionsText: 'observation_timestamp_label',
            optionsCaption: 'Choose...'"></select>

</div> <!-- closes form-group -->

<div class="form-group">
    <button class="form-control btn btn-primary"
    data-bind="click:update_chart">
Update chart</button>
</div> <!-- closes form-group -->

</div> <!-- closes col-md-3 -->

<div class="col-md-9">
<div id="comparisonChart" style="height:500px"></div> <!-- closes comparisonChart -->

<p style="margin-top:10px;">The black vertical bars show the indicator's margin of error
(MOE).</p>

</div> <!-- closes col-md-9 -->

</div> <!-- closes row -->
