<div class="row">

<div class="col-md-12">


<div class="row"> <!-- sub row -->

<div class="col-md-8">
<h4>Viewing comparison data for
<span class="strong" data-bind="text:selected_indicator().pretty_label"></span>
</h4>
<p>
Click on table headings to sort. Use the filter selector
to filter by location type, or to search for a specific location.
</p>
</div> <!-- closes col-md-8 -->

<div class="col-md-2">

<div class="form-group">
    <label>
    Type
    </label>
    <select class="form-control" data-bind="options: location_types,
                                 optionsCaption: 'all',
                                 value:selected_location_type"></select>
</div> <!-- closes form-group -->

</div> <!-- closes col-md-2 -->

<div class="col-md-2">

<div class="form-group">
    <label>
    Search
    </label>
    <input class="form-control" data-bind="textInput:location_search" />
</div> <!-- closes form-group -->

</div> <!-- closes col-md-2 -->


</div> <!-- closes sub-row -->



<table class="table table-striped table-bordered">
<thead>
<tr>
<th style="cursor:pointer" data-bind="click:location_click_sort">
   <span data-bind="visible:asc() && sort_column() == 'location'"
         class="glyphicon glyphicon-chevron-up"></span>
   <span data-bind="visible:!asc() && sort_column() == 'location'"
         class="glyphicon glyphicon-chevron-down"></span>
   Location (type)
</th>
<!-- ko foreach:observable_timestamps -->
  <th style="text-align:right; cursor:pointer"> <span data-bind="text:$data.format('YYYY'),
    click:$parent.year_click_sort"></span>
   <span data-bind="visible:$parent.asc() && $parent.sort_column() == $data.year()"
         class="glyphicon glyphicon-chevron-up"></span>
   <span data-bind="visible:!$parent.asc() && $parent.sort_column() == $data.year()"
         class="glyphicon glyphicon-chevron-down"></span>
  </th>
<!-- /ko -->

</tr>
</thead>

<tbody>
<!-- ko foreach: location_search_filtered -->
<tr>
<td> <span data-bind="text:title"></span> (<span
data-bind="text:short_location_type"></span>)</td>

<!-- ko foreach: indicator_values -->
<td style="text-align:right" data-bind="text:value.formatted"></td>
<!-- /ko -->


</tr>




<!-- /ko -->

</tbody>

</table>


<h4>Test Map Goes here</h4>
<div id="comparisonMap" style="height:600px">

</div>
</h4>
</div> <!-- closes col-md-12 -->



</div> <!-- closes row -->
