<p class="lead">The <b>Progress Index</b> is a neighborhood data tool
developed by Cleveland
Neighborhood Progress and the Center on Urban Poverty and Community
Development at Case Western Reserve University. The goal of the tool is
to equip community development practitioners with housing and economic
mobility data so that they may better understand neighborhood dynamics,
monitor trends, develop solutions, and use data to measure
organizational and/or programmatic outcomes. </p>

<p>Progress Index data are made available at the following four levels:
<ul>
<li>Cuyahoga County,</li>
<li>city of Cleveland,</li>
<li>Statistical Planning Areas (neighborhood SPAs),</li>
<li>and community development corporation service area</li>
</ul>

<p>Data are categorized as either Progress Metrics or Progress Drivers.
Progress Metrics are the high-level indicators that provide users with a
snapshot of housing and income trends in the neighborhood. This helps us
understand trends in the median sales price of homes or trends in rental
costs for non-home buying markets, as well as any change in residents’
income or poverty-levels.</p>

<p>However, these high-level indicators only scratch the surface of
neighborhood dynamics and may not capture all of the factors that
influence housing or economic mobility. Thus, the Progress Drivers seek
to further illustrate the many factors driving neighborhood vitality and
success. This includes:
<a href="#" data-bind="page-href : {
    path : '//population',
    params : {location_uuid:location_uuid()}}">population
trends and diversity</a>,

<a href="#" data-bind="page-href : {
    path : '//safety',
    params :
{location_uuid:location_uuid()}}">safety</a>,

<a href="#" data-bind="page-href : {
    path : '//progress',
    params :
{location_uuid:location_uuid()}}">housing</a>,

<a href="#" data-bind="page-href : {
    path : '//stabilization',
    params :
{location_uuid:location_uuid()}}">stability</a>,

<a href="#" data-bind="page-href : {
    path : '//community',
    params :
{location_uuid:location_uuid()}}">community perception and
well-being</a>,


<a href="#" data-bind="page-href : {
    path : '//health',
    params :
{location_uuid:location_uuid()}}">health</a>,

<a href="#" data-bind="page-href : {
    path : '//education',
    params :
{location_uuid:location_uuid()}}">educational attainment</a>,

<a href="#" data-bind="page-href : {
    path : '//workforce',
    params : {location_uuid:location_uuid()}}">workforce
participation</a>, and

<a href="#" data-bind="page-href : {
    path : '//economy',
    params : {location_uuid:location_uuid()}}">local economy</a>.
These numbers
affect both the sale price of homes and people’s decisions to purchase
them, and help us better understand the experiences of those living in
Cleveland neighborhoods.
</p>

<p>As you dive into the Progress Index, you will notice several tabs at the
top of the page. The “Overview” tab will give you a summary of the
Progress Metrics and Drivers in the form of 5-year percent change. You
may then select the Progress Metrics tab to view housing and income mix
data or tab through our Progress Drivers to dive deeper into our
neighborhood data.</p>

<p>Finally, as this is a new and evolving tool, please note that indicators
may be added and/or removed. Should you have any questions about the
Progress Index, feel free to contact:</p>

<div style="padding-left:30px"
<p>
<address><strong>Justin D. Fleming</strong><br /> Director of Real Estate and General Counsel<br />
President, Land Assembly for Neighborhood Development<br />
Cleveland Neighborhood Progress<br />
<a href="mailto:jfleming@clevelandnp.org">jfleming@clevelandnp.org</a>
</address>
</p>

<p>
<address><strong>April Urban</strong><br />Director of Community
Responsive Analytics
<br />The Center on Urban Poverty and Community Development
<br /><a href="mailto:april.urban@case.edu">april.urban@case.edu</a></address>
</p>
</div>


