
<h2>Overview</h2>

<p class="lead">
Here you will find a summary of the data in our Progress Index. Progress
Metrics and Drivers are listed with their 5-year percent change. You may
select “view more details” to get more information about specific
categories.
</p>


<div data-bind="visible:selected_location().location_uuid() == undefined">
<h4 class="strong">Please select a location from the left to begin.</h4>
</div> <!-- closes visible:selected_location().location_uuid() == undefined"> -->


<div data-bind="visible:selected_location().location_uuid() != undefined">

<div data-bind="with:selected_location">

<h4> Now viewing data for <span data-bind="text:title"></h4>
<h5>Note: clicking the <span class="label label-primary">Map</span>
button will allow for a cross-location (city-wide)
comparison of a given indicator. <br />The cross-location information is
available in a table as well.</h5>


<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/overview-' +
print_friendly_name + '.pdf'}">Download as PDF</a> |
<a href="#"
    data-bind="click:function(event){
    rootvm.exportTableToCSV(event, ['progressMetricsTable',
'progressDriversTable'], 'overview- ' + print_friendly_name + '.csv');   return true;}">
Downlad as CSV</a>


</p>

</div>


<table class="table table-striped table-bordered" id="progressMetricsTable">
<thead>
<tr>
<td colspan="3"><strong>Progress Metrics (most recent is 2016)</strong>
<a class="small" data-bind="page-href: '//progress'">
        view more details</a></th>

</tr>
<tr>
<th>Property</th>
<th class="data">5 year change</th>
<th class="data">2016 (Most recent)</th>
<th class="show-only-print">CV</th>
<th class="show-only-print">MOE (+/-)</th>
</tr>
</thead>
<tbody>

<!-- ko with:progressmetricsvm-->
<!-- ko foreach:overview_indicators_sales -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>

<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>


</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>


<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

</tbody>
</table>

<table class="table table-striped table-bordered" id="progressMetricsTable">
<thead>
<tr>
<td colspan="3"><strong>More Progress Metrics (most recent is 2015)</strong>
<a class="small" data-bind="page-href: '//progress'">
        view more details</a></th>

</tr>
<tr>
<th>Property</th>
<th class="data">5 year change</th>
<th class="data">2015 (Most recent)</th>
<th class="show-only-print">CV</th>
<th class="show-only-print">MOE (+/-)</th>
</tr>
</thead>
<tbody>

<!-- ko with:progressmetricsvm-->
<!-- ko foreach:overview_indicators_sales_2nd_table -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>

<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>


</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>


<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->



<!-- ko with:progressmetricsvm-->

<tr>
<tr><td colspan ="3"><strong>Income</strong></td></tr>

<!-- ko foreach:overview_indicators_income -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>

<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"><span data-bind="text:most_recent_value().formatted"></span>

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>

<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>



<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
</tbody>
</table>



<table class="table table-striped table-bordered" id="progressDriversTable">
<thead>
<tr>
<th>Progress Drivers</th>
<th class="data">5 year change</th>
<th class="data">2015 (most recent)</th></thead>
</tr>
<tr>
<td colspan="3">
<strong>Population</strong> <a class="small " data-bind="page-href:'//population'">
view more details</a></td>
</tr>
</thead>

<tbody>
<!-- ko with:populationvm -->

<!-- ko foreach:total_population -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>

<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>
<span data-bind="if:indicator_CV()">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>

<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->

<tr>
<td colspan ="3">
<strong>Racial Ethnic Diversity</strong> <a class="small " data-bind="page-href:'//population'">
view more details</a></td>
</tr>

<!-- ko foreach:indicators_population_overview -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>
<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>

<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>
<span data-bind="if:indicator_CV()">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>

<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

<tr>
<td colspan="3">
<strong>Safety</strong> <a class="small " data-bind="page-href:'//safety'">
view more details</a></td>

</tr>
<!-- ko with:safetyvm -->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td> <span data-bind="text:description"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>


</td>
<td  class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data" data-bind="text:most_recent_value().formatted"></td>
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->


<tr>
<td colspan="3">
<strong>Stabilization</strong> <a class="small " data-bind="page-href:'//stabilization'">
view more details</a></td>

</tr>
<!-- ko with:stabilizationvm -->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>
<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data" data-bind="text:most_recent_value().formatted"></td>
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->


<tr>
<td colspan="3">
<strong>Health</strong> <a class="small " data-bind="page-href:'//health'">
view more details</a></td>

</tr>
<!-- ko with:healthvm -->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>

<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data" data-bind="text:most_recent_value().formatted"></td>
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

<tr>
<td colspan="3">
<strong>Education</strong><a class="small " data-bind="page-href:'//education'">
view more details</a></td></tr>
<!-- ko with:educationvm-->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>
<span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>


<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data" data-bind="text:most_recent_value().formatted"></td>
</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->


<tr>
<td colspan="3">
<strong>Workforce</strong><a class="small " data-bind="page-href:'//workforce'">
view more details</a></th></tr></tr>
<!-- ko with:workforcevm-->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>
<span data-bind="text:pretty_label"></span>

<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>

</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>
<span data-bind="if:indicator_CV()">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>

<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

<tr>
<td colspan="3">
<strong>Economy</strong><a class="small " data-bind="page-href:'//economy'">
view more details</a></td></tr></tr></tr>
<!-- ko with:economyvm-->
<!-- ko foreach:overview_indicators -->
<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr>
<td>
<span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>
<td class="data"> <span data-bind="text:most_recent_value().formatted"></span>
<span data-bind="if:indicator_CV()">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">

<span data-bind="if:indicator_CV">
<span data-bind="if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' :
            pretty_CV_and_MOE(most_recent_indicator_value().observation_timestamp_year())}">
        +/-</button>


</span></span>
</td>

<!-- ko if:indicator_CV -->
<!-- ko if:indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted -->

<td class="show-only-print data" data-bind="if:indicator_CV">
<span class="show-only-print"
     data-bind="text: indicator_CV().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>
</td>
<td class="show-only-print data" data-bind="if:indicator_MOE">
<span class="show-only-print"
     data-bind="text:
indicator_MOE().indicator_value_by_year(most_recent_indicator_value().observation_timestamp_year()).formatted"></span>

</td>
<!-- /ko -->
<!-- /ko -->

</tr>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->

</tbody>
</table>

</div> <!-- closes visible:selected_location().location_uuid() != undefined -->
