
<h2>Stabilization</h2>

<div data-bind="with:parentvm.selected_location()">

<h4> Now viewing data for <span data-bind="text:title"></h4>

<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/stabilization-' + print_friendly_name + '.pdf'}">Download as PDF</a>
</p>

</div>

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Indicator</th>
<th class="data">% change</th>
<!-- ko foreach:observable_timestamps -->
    <th class="data"  data-bind="text:$data.format('YYYY')"></th>
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<button class="btn btn-sm btn-primary hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].extra_formatting(title()),
                   attr: {'data-content' : $parents[1].extra_formatting(title())}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</button>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td class="data"><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody>

</table>

<div class="show-only-print">
    <div class="small">
    <p>
    Sources: Cuyahoga County Fiscal Office, Cuyahoga County Clerk of Courts,
    Cuyahoga County Sheriff's Department, United States Postal Service
    Vacancy data.
    </p>

    <h5>Extra Indicator Details</h5>
    <!-- ko foreach:indicator_titles -->

    <!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->

    <p> <p data-bind="visible:$parents[1].extra_formatting(title())">
        *<span data-bind="text:pretty_label"></span>:
        <span data-bind="text:
              $parents[1].extra_formatting(title())"></span>
    </p>

    <!-- /ko -->

    <!-- /ko -->
   </div> <!-- closes class small -->


</div> <!-- closes show-only-print -->
