
<h2>Stabilization</h2>
<p class="lead">
Digging further into housing dynamics and trends, Stabilization gives
users a better sense of a neighborhood’s housing stability by providing
data on occupancy, density, and transfers. Inversely, we can also learn
more about areas of destabilized housing that may need to be flagged for
attention due to foreclosure filings, sheriff’s sales, and/or other
indicators of distress.
</p>

<div data-bind="with:parentvm.selected_location()">

<h4> Now viewing data for <span data-bind="text:title"></h4>
<h5>Note: clicking the <span class="label label-primary">Map</span>
button will allow for a cross-location (city-wide)
comparison of a given indicator. <br />The cross-location information is
available in a table as well.</h5>


<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/stabilization-' + print_friendly_name + '.pdf'}">Download as PDF</a>
|
<a href="#"
    data-bind="click:function(event){ console.log(event.currentTarget);
    rootvm.exportTableToCSV(event, ['stabilizationTable'],
                'stabilization - ' + print_friendly_name + '.csv');   return true;}">
Downlad as CSV</a>

</p>

</div>

<table class="table table-striped table-bordered"
id="stabilizationTable">
<thead>
<tr>
<th>Indicator</th>
<th class="data">% change</th>
<!-- ko foreach:observable_timestamps -->
    <th class="data"  data-bind="text:$data.format('YYYY')"></th>
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:indicator_titles -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td style="white-space:nowrap"> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="info-link hide-from-print"
        data-toggle="popover"
        data-bind="visible:$parents[1].rootvm.indicator_extra_info($data),
                   attr: {'data-content' :
                          $parents[1].rootvm.indicator_extra_info($data)}">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</a>
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td class="data"
data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></td>
</td>
<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->
</tbody>

</table>

<div class="show-only-print">
    <div class="small">
    <p>
    Sources: Cuyahoga County Fiscal Office, Cuyahoga County Clerk of Courts,
    Cuyahoga County Sheriff's Department, HUD / USPS.
    </p>

    </div> <!-- closes class small -->


</div> <!-- closes show-only-print -->
