<div class="row" style="margin-bottom:15px">

<div class="col-md-3">

<!-- Navbar type thing here -->

<div class="form-group">
    <label>
    Location Type
    </label>
    <select class="form-control" data-bind="options: location_types,
                                 optionsCaption: 'all',
                                 value:selected_location_type"></select>
</div> <!-- closes form-group -->

<div class="form-group">
    <label>
    Location
    </label>
    <select class="form-control" data-bind="options: filtered_locations,
                                    optionsCaption: 'Choose...',
                                    optionsText:'title',
                                    value:selector_location"></select>
</div> <!-- closes form-group -->


<div class="form-group">
    <button class="form-control btn btn-primary" data-bind="click:change_location,
    disable:selected_location() == undefined">
Change Location</button>
</div> <!-- closes form-group -->

<div id="mapid" style="height:300px;"></div>


</div> <!-- closes col-md-4 -->

<div class="col-md-8" style="margin-left:30px">

<!-- all of our sub page tabs go here ? -->

<div data-bind="page: {
    id: 'start',
    source: '/static/templates/overview.html',
}"></div>

<div data-bind="page: {
    id: 'community',
    source: '/static/templates/community.html',
}"></div>

<div data-bind="page: {
    id: 'economy',
    source: '/static/templates/economy.html',
    with: economyvm,
    afterShow: economyvm.initialize
}"></div>

<div data-bind="page: {
    id: 'education',
    source: '/static/templates/education.html',
    with: educationvm,
    afterShow: educationvm.initialize
}"></div>

<div data-bind="page: {
    id: 'health',
    source: '/static/templates/health.html',
    with: healthvm,
    afterShow: healthvm.initialize

}"></div>

<div data-bind="page: {
    id: 'progress',
    source: '/static/templates/progress-metrics.html',
}"></div>

<div data-bind="page: {
    id: 'safety',
    source: '/static/templates/safety.html',
    with: safetyvm,
    afterShow: safetyvm.initialize,
}"></div>

<div data-bind="page: {
    id: 'stabilization',
    source: '/static/templates/stabilization.html',
    with: stabilizationvm,
    afterShow: stabilizationvm.initialize
}"></div>

<div data-bind="page: {
    id: 'workforce',
    source: '/static/templates/workforce.html',
    with: workforcevm,
    aftershow: workforcevm.initialize
}"></div>

<div data-bind="page: {
    id: 'population',
    source: '/static/templates/population.html',
    with: populationvm,
    aftershow: populationvm.initialize
}"></div>


</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
