
<div class="row" style="margin-bottom:15px">

<div class="col-md-8 col-md-offset-2">

<!-- Navbar type thing here -->

<div class="form-group">
    <label>
    Location Type
    </label>
    <select class="form-control" data-bind="options: location_types,
                                 optionsCaption: 'all',
                                 value:selected_location_type"></select>
</div> <!-- closes form-group -->

<div class="form-group">
    <label>
    Location
    </label>
    <select class="form-control" data-bind="options: filtered_locations,
                                    optionsCaption: 'Choose...',
                                    optionsText:'title',
                                    value:selected_location"></select>
</div> <!-- closes form-group -->


<div class="form-group">
    <button class="form-control btn btn-primary" data-bind="click:change_location,
    disable:selected_location() == undefined">
Change Location</button>
</div> <!-- closes form-group -->
<div id="mapid" style="height:400px; width:400px"></div>



<div data-bind="page: {id: 'location',
                params:{location_uuid:location_uuid()}}">

<div data-bind="with:selected_location">
    <h3>Showing location <span data-bind="text:title"></h3>
</div> <!-- closes with:selected_location -->
</div> <!-- closes  page: id 'location' -->


</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
