<div class="row" style="margin-bottom:15px">

<div class="col-md-3 hide-from-print">

<!-- Navbar type thing here -->

<div class="well">
<h3>Select a Location</h3>
<div data-bind="with:selected_location,
visible:selected_location().location_uuid() != undefined">
<p>Selected
<span class="text-success" data-bind="text:title"></span>
<span class="text-muted" data-bind="text:location_type"></span>
</p>
</div>
<div class="form-group">

    <label>
    Level
    </label>
    <select class="form-control" data-bind="options: location_types,
                                 optionsCaption: 'all',
                                 value:selected_location_type"></select>
</div> <!-- closes form-group -->

<div class="form-group">
    <label>
    Location
    </label>
    <select class="form-control" data-bind="options: filtered_locations,
                                    optionsCaption: 'Choose...',
                                    optionsText:'title',
                                    value:selector_location"></select>
</div> <!-- closes form-group -->


<div class="form-group">
    <button class="form-control btn btn-primary"
    data-bind="click:change_location_click,
    disable:selected_location() == undefined">
Change Location</button>
</div> <!-- closes form-group -->
<div class="form-group"
    data-bind="visible: google_maps_api_loaded">

<label>or look up neighborhood using address</label>

<input type="text" class="form-control"
    data-bind="textInput: address_to_geocode"
    placeholder="Type an address here" />

</div><!-- closes form-group -->

<div class="form-group"
    data-bind="visible: google_maps_api_loaded">
    <button
        class="form-control btn btn-primary"
        data-bind="click: geocode_address,
            attr: {disabled: !address_to_geocode()},
            css: {disabled: !address_to_geocode()}">
Look up by address</button>

</div> <!-- closes form-group -->

<div data-bind="visible: geocode_results().length">

<strong>We found these addresses</strong>

<p class="help-block">Pick the address from the list below, and we'll
look up the containing neighborhood for that address.</p>

<div data-bind="foreach: geocode_results">

<p data-bind="text: formatted_address"></p>

<button class="btn btn-default btn-block"
    data-bind="click: $parent.find_containing_neighborhood">Find
containing locations
</button>

<button class="btn btn-default btn-block"
    data-bind="click: $parent.center_map_here">Center map here</button>

<div data-bind="visible: $parent.containing_neighborhoods().length">

<p>
<strong>We found
<span data-bind="text: $parent.containing_neighborhoods().length"></span>
containing locations:</strong>
</p>

<div data-bind="foreach: $parent.containing_neighborhoods">

<button class="btn btn-default btn-block"
    data-bind="click: $root.startpagevm.set_selected_location">

<p data-bind="text: title" style="white-space:normal"></p>
<p class="small">(<span data-bind="text: location_type"></span>)</p>

</button>

</div><!-- closes foreach containing_neighborhoods -->

</div><!-- closes visible containing_neighborhoods -->

</div><!-- closes foreach -->

</div><!-- closes visible geocode_results -->

</div> <!-- closes well -->

<div id="mapid" style="margin-top: 10px; height:300px;"></div>

</div> <!-- closes col-md-4 -->

<div class="col-md-8" style="margin-left:30px">

<!-- all of our sub page tabs go here ? -->

<div data-bind="page: {
    id: 'overview',
    role: 'start',
    source: '/static/templates/overview.html',
    params: ['location_uuid'],
}"></div>

<div data-bind="page: {
    id: 'community',
    source: '/static/templates/community.html',
}"></div>

<div data-bind="page: {
    id: 'economy',
    source: '/static/templates/economy.html',
    with: economyvm,
    afterShow: economyvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'education',
    source: '/static/templates/education.html',
    with: educationvm,
    afterShow: educationvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'health',
    source: '/static/templates/health.html',
    with: healthvm,
    afterShow: healthvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'progress',
    source: '/static/templates/progress-metrics.html',
    with: progressmetricsvm,
    afterShow: progressmetricsvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'safety',
    source: '/static/templates/safety.html',
    with: safetyvm,
    afterShow: safetyvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'stabilization',
    source: '/static/templates/stabilization.html',
    with: stabilizationvm,
    afterShow: stabilizationvm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'workforce',
    source: '/static/templates/workforce.html',
    with: workforcevm,
    afterShow: workforcevm.initialize,
    params: ['location_uuid']
}"></div>

<div data-bind="page: {
    id: 'population',
    source: '/static/templates/population.html',
    with: populationvm,
    afterShow: populationvm.initialize,
    params: ['location_uuid']
}"></div>


</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
