
<h2>Workforce Metrics</h2>
<p class="lead">
Critical to economic mobility, we must assess whether or not residents
are employed and/or seeking to participate in the labor force. This can
help us identify barriers or opportunities to connect residents to jobs,
job training programs, and other opportunities in order to build wealth.
</p>

<div data-bind="with:parentvm.selected_location()">

<h4> Now viewing data for <span data-bind="text:title"></h4>

<p class="hide-from-print text-info small">
<a target="_blank" data-bind="attr: {href: '/pdf/workforce-' + print_friendly_name + '.pdf'}">Download as PDF</a>
|
<a target="_blank" data-bind="attr: {href: $parent.csv_link() }">Download as CSV</a>

</p>

</div>

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Indicator</th>
<th class="data">% change</th>
<!-- ko foreach:observable_timestamps -->
    <!-- ko if:($index() == 0) -->
    <th class="data" data-bind="text:$data.format('YYYY')"></th>
    <!-- /ko -->
    <!-- ko if:($index() != 0) -->
    <th class="data">2010 - <span data-bind="text:$data.year()"></span></th>
    <!-- /ko -->
<!-- /ko -->
</tr>
</thead>
<tbody>
<!-- ko foreach:indicators_employment -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td> <span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>
<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td class="data"><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
<span data-bind="if:$parent.indicator_CV"><span data-bind="if:
$parent.indicator_CV().indicator_value_by_year($data.year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' : $parent.pretty_CV_and_MOE($data.year())}">
        +/-</button>
    <span class="show-only-print" style="font-size:8px"
          data-bind="html:$parent.print_friendly_CV_and_MOE($data.year())"></span>
</span></span>
</td>


<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->

<tr>
<th colspan="4">Population by education attainment level</th>
</tr>
<!-- ko foreach:indicators_pop_by_ed_attainment -->

<!-- ko with:Indicator.indicator_by_title($parent.indicators(), $data) -->
<tr data-bind="css: {rate_data: is_a_rate() }">
<td>
<span data-bind="text:pretty_label"></span>
<span class="pull-right" style="padding-left:5px">
<a href="#" class="btn btn-primary btn-sm hide-from-print"
      data-bind="page-href: {path : '/indicator-map',
       params: {indicator_uuid: indicator_uuid}}">
        Map</a>
</span>
</td>


<td class="data" data-bind="text:percent_change_indicator_value"></td>

<!-- ko foreach:$parents[1].observable_timestamps -->
<td class="data"><span data-bind="text:$parent.indicator_value_by_year($data.year()).formatted"></span>
<span data-bind="if:$parent.indicator_CV"><span data-bind="if:
$parent.indicator_CV().indicator_value_by_year($data.year()).formatted">
<button class="btn btn-xs hide-from-print"
        data-toggle="popover"
        title="CV &amp; MOE"
        data-bind="attr: {'data-content' : $parent.pretty_CV_and_MOE($data.year())}">
        +/-</button>

    <span class="show-only-print" style="font-size:8px"
          data-bind="html:$parent.print_friendly_CV_and_MOE($data.year())"></span>

</span></span> </td>

<!-- /ko --> <!-- closes inner for loop -->

</tr>

<!-- /ko -->

<!-- /ko -->




</tbody>

</table>

<div class="show-only-print">
    <div class="small">
    <p>
    Source: 2000 Decennial Census and 2010-2014 American Community Survey
    5-year estimates.<br />
    Note: Information from 2010-2014 ACS 5 year estimates are estimates with
    a margin of error.<br />
    </p>

    <p><strong>Margin of Error (MOE):</strong> The MOE,
    reported along with an estimate, means
    that one can be 90 percent confident that the true value is the
    estimated value, plus or minus the MOE. More information here.</p>

    <p><strong>Coefficient of Variation (CV):</strong> a measure of reliability of the ACS
    estimate. The Census provides the following guidelines for determining
    the reliability of the estimate:</p>
    <p>
    Coefficient of Variance &lt;15&#37; - Good<br />
    Coefficient of Variance &gt;15&#37; and &lt; 61&#37; - Fair<br />
    Coefficient of Variance &gt;&#61; 61&#37; - Poor<br />
    </p>

    </div> <!-- closes class small -->

</div> <!-- closes show-only-print -->
